@use "@/styles/variables" as var;

.input {
  background-color: transparent;


  &.secondary {
    padding: 0 0 3px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid var.$dark-color;

    &[type="email"] {
      width: 100%;
    }

    &[type="submit"] {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}