@use "@/styles/variables" as var;

.button {
  padding: 12px 33px;
}

.primary {
  background-color: var.$accent-color;
  color: var.$light-color;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;

  svg {
    width: 100%;
  }
}