.button {
  padding: 12px 33px;
}

.primary {
  background-color: #B88E2F;
  color: white;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;

  svg {
    width: 100%;
  }
}