$light-color: #FFF;
$dark-color: #000;
$accent-color: #B88E2F;
$light-gray-color: #B0B0B0;

$primary-text-color: #333;
$secondary-text-color: #9F9F9F;

$benefits-text-color: #898989;

$primary-bg-color: #FFF;
$secondary-bg-color: #F4F5F7;
$accent-bg-color: #FFF3E3;

$discount-accent-color: #E97171;
$new-accent-color: #2EC1AC;

$line-color: rgba(0, 0, 0, 0.17);

$transition-time: 0.4s;