.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 835px;
  gap: 30px;
}

.navmenu,
.navActions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navmenu {
  gap: 75px;
}

.navmenuLink {
  font-size: 16px;
  font-weight: 500;
}

.navActions {
  gap: 45px;
}