.hero {
  display: flex;
  justify-content: center;
  max-height: 716px;
  background: url("/src/assets/images/hero-bg.jpg") center 70% / cover no-repeat;
}

.container {
  display: flex;
  justify-content: end;
  width: 95%;
  max-width: 1320px;
  padding: 153px 0 120px;
}

.info {
  max-width: 643px;
  padding: 62px 43px 37px 39px;
  background-color: #FFF3E3;
}

.label {
  font-weight: 600;
  letter-spacing: 0.1875em;
}

.title {
  margin-bottom: 17px;
  font-size: 3.25rem;
  line-height: 1.25em;
  font-weight: 700;
  text-wrap: balance;
  color: #B88E2F;
}

.text {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 46px;
}

.buyBtn {
  padding: 25px 72px;
}

@media (max-width:768px) {

  .container {
    padding: 100px 0 80px;
  }

  .container {
    justify-content: center;
  }

  .info {
    max-width: 450px;
    padding: 62px 35px 37px 35px;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media (max-width:425px) {
  .container {
    padding: 50px 0 40px;
  }

  .info {
    max-width: 450px;
    padding: 62px 20px 37px 20px;
  }

  .text {
    font-size: 1rem;
  }

  .buyBtn {
    padding: 25px 50px;
  }
}